@charset "utf-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

html {
    font-family: "pretendard";
    font-size: 10px;
}

input,
textarea,
select,
button {
    font-family: inherit;
    outline: none;
    border: 0;
    @include font(1.4rem, 1.5em, 400, 0);
}

h1 {
    @include font(2.8rem, 4.2rem, 800, 0);
}

h2 {
    @include font(2.4rem, 1.5em, 800, 0);
}

h3 {
    @include font(2rem, 1.5em, 400, 0);
}

h4 {
    @include font(1.6rem, 1.5em, 400, 0);
}

h5 {
    @include font(1.4rem, 1.5em, 400, 0);
}

h6 {
    @include font(1.2rem, 1.5em, 400, 0);
}
