@charset "utf-8";

// color
$sy-pri: #206fd6;
$sy-pri-01: #004bb7;

$sy-white: #ffffff;
$sy-black: #2b2b2b;
$sy-gray-01: #f8f8f8;
$sy-gray-02: #f6f6f6;
$sy-gray-03: #ebebeb;
$sy-gray-04: #e0e0e0;
$sy-gray-05: #c4c4c4;
$sy-gray-06: #868686;
$sy-gray-07: #626262;
$sy-gray-08: #424242;
$sy-gray-09: #333333;

$sy-red: #ff5b5b;
$sy-yellow: #ffd951;
$sy-green: #3cdf98;
$sy-cyan: #02cde8;
$sy-blue: #0089d6;
$sy-purple: #ad28dc;
$sy-pink: #ff5c9a;
$sy-livid: #aac5da;

//csp color
// aws 한정
$sy-indigo-aws: #232f3e;
$sy-yellow-aws: #ffa235;
$color-aws: $sy-indigo-aws;

$color-azure: #0089d6;

$color-naver: #3cdf98;

$color-icon-pri: $sy-pri-01;
$color-inversion: $sy-white;

// default color
$bg-color: $sy-gray-01;
$txt-color: #333;

$color-txt: $sy-gray-01;
$color-bg: $sy-gray-09;

// component color
$color-default: $sy-gray-05;
// default-bg color
$color-base: $sy-white;
// modal-bg color
$color-modal: $sy-white;
// input-bg color
$color-inputBg: $sy-gray-03;
// pageHeader-bg color
$color-pageHeader: $sy-white;
// projectHeader-bg color
$color-projectHeader: $sy-white;
// nav-bg color
$color-nav: $sy-white;
// aside-bg color
$color-aside: $sy-gray-03;
// footer-bg color
$color-footer: $sy-white;

// myPage-bg color
$color-Mypage: $sy-gray-02;
$color-Mypage_nav: $sy-gray-02;
$color-Mypage_main: $sy-gray-03;

$color-card: $sy-white;

$color-list: $sy-white;
$color-list_li: $sy-gray-04;
$color-list_hover: $sy-gray-05;

$color-link: $sy-blue;

// btn color
$btn-inversion: $sy-gray-01;
$btn-pri: $sy-pri;
$btn-pri_hover: $sy-pri-01;
$btn-pri_disabled: $sy-gray-05;

$btn-icon: $sy-gray-06;
$btn-icon_hover: $sy-pri;
$color-theme: $sy-pri;

// codeEditor start
// monokai
$edit-default: #f8f8f8;
$edit-string: #ffd866;
$edit-function: #78dce8;
$edit-operator: #ff6188;
$edit-numeric: #ab9df2;
$edit-bg: #2a314b;
$edit-gutter: #2a314b;
// codeEditor end

// modal start
$toast-bg: $sy-white;
$toast-txt: $color-theme;
// modal end

// theme 변수
:root {
    --colorCspTheme: #{$color-theme}; //theme hex
    --colorCspTheme-rgb: 0, 0, 0; //theme rgb
    --colorInputBg: #{$sy-gray-03}; //option bg
    --editDefault: #{$edit-default};
    --editString: #{$edit-string};
    --editFunction: #{$edit-function};
    --editOperator: #{$edit-operator};
    --editNumeric: #{$edit-numeric};
    --editBg: #{$edit-bg};
    --color-pri: 32, 111, 214;

    --colorCsp: 206, 39%;
    --l: 76%; /*the initial lightness*/

    --colorCspTheme-hsl: hsla(var(--colorCsp), var(--l), 1);
    --colorCspTheme-hsl-darker: hsla(var(--colorCsp), calc(var(--l) - 5%), 1);
    --colorCspTheme-hsl-darkest: hsla(var(--colorCsp), calc(var(--l) - 10%), 1);
    --colorCspTheme-hsl-none: hsla(var(--colorCsp), calc(var(--l) - 10%), 0);
}

[data-theme="kismi"] {
    --colorCspTheme: #{$sy-pri};
    --colorCspTheme-rgb: 56, 124, 189;
}

[data-theme="aws"] {
    --colorCspTheme: #{$color-aws};
    --colorCspTheme-rgb: 255, 162, 53;
    --colorCsp: 32, 100%;
    --colorCspTheme-hsl: hsla(32, 100%, 60%, 1);
    --colorCspTheme-hsl-darkest: hsla(32, 100%, 50%, 1);
    --colorCspTheme-hsl-none: hsla(32, 100%, 60%, 0);
}

[data-theme="ncloud"] {
    --colorCspTheme: #{$color-naver};
    --colorCspTheme-rgb: 60, 223, 152;
    --colorCsp: 154, 72%;
    --colorCspTheme-hsl: hsla(154, 72%, 55%, 1);
    --colorCspTheme-hsl-darkest: hsla(154, 72%, 45%, 1);
    --colorCspTheme-hsl-none: hsla(154, 72%, 55%, 0);
}

[data-theme="azure"] {
    --colorCspTheme: #{$color-azure};
    --colorCspTheme-rgb: 0, 137, 214;
    --colorCsp: 202, 100%;
    --colorCspTheme-hsl: hsla(202, 100%, 42%, 1);
    --colorCspTheme-hsl-darkest: hsla(202, 100%, 32%, 1);
    --colorCspTheme-hsl-none: hsla(202, 100%, 42%, 0);
}

// canvas node start
$color-canvas_bg: $sy-gray-03;
$color-context_bg: $sy-gray-08;
$color-context_txt: $sy-gray-03;
// canvas node end

// resourceSetting start
$color-label_txt: $sy-gray-08;
div[class^="optionType"].disabled {
    --colorInputBg: #{$sy-gray-05};
}
// resourceSetting end

$borderSize : 1.5px