@charset 'utf-8';
@import "./mixin/variables";

.page-header{
    background: $sy-white;
    
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-bottom: $borderSize solid rgba($sy-gray-03, 1);
        
    }

}